# Gradle
.gradle/
**/.gradle/
**/build/
order-service/build/
restaurant-service/build/
payment-service/build/
order-service/out/
restaurant-service/out/
payment-service/out/
common-event/out/

# IDE
*.iml
.idea/

# OS / Editor
.DS_Store
*.log

# yaml
order-service/src/main/resources/application-local.yml
restaurant-service/src/main/resources/application-local.yml
payment-service/src/main/resources/application-local.yml