# Gradle
.gradle/
**/.gradle/
**/build/
order-service/build/
restaurant-service/build/

# IDE
*.iml
.idea/

# OS / Editor
.DS_Store
*.log

# yaml
order-service/src/main/resources/application-local.yml
restaurant-service/src/main/resources/application-local.yml

#.pem
*.pem
